name: CICDCFT
on:
  push:
    branches:
      - main
    path:
      - deploy/**
    paths-ignore:
      - .github/**
      - document/**
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
          fetch-depth: 0
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v33
 
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1 # Use your bucket region here
 
 
    - name: Deploy Cloud formation template
      run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            #stack_name=$(grep $file  document/stack_name.txt|cut -d'|' -f2)
            stack_name=$(echo $file | cut -f2 -d'/' | cut -f1 -d'.' )
            aws cloudformation deploy --template-file $file --stack-name $stack_name
          done
